body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("/static/bgak2.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
}


h1, h3 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

textarea, input[type="checkbox"] {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#output {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
